@import '../../styles/variable';

.item__text {
	display: flex;
	flex-direction: column;
	grid-gap: 5px;

	.text__number {
		color: $black;
		font-weight: 600;
	}

	.text__hours {
		color: $colorEl;
		font-weight: 300;
		font-size: 0.85em;
	}

	.text__call {
		color: $colorEl;
		font-weight: 400;
		font-size: 0.7em;
		text-decoration: underline;
	}
}
