@import 'src/styles/variable';

.catalog {
	margin-top: 50px;
	height: 100%;
	.catalog__head {
		font-weight: 500;
		font-size: 1.15em;
		color: $black;
	}

	.head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: row wrap;
		grid-gap: 15px;

		.catalog__header {
			.catalog__head {
				display: none;
				align-items: center;
				justify-content: space-between;
				margin-top: 19px;
				.arrow {
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #ffca65;
					border-radius: 50%;
					width: 32px;
					height: 32px;
					padding: 12px;
				}
				.show {
					transform: rotate(180deg);
				}
			}
		}

		.catalog__sort {
			display: flex;
			grid-gap: 10px;
			//margin-right: 120px;
			p {
				color: #111111;
				font-size: 1.15em;
				font-weight: 500;
			}
		}
	}

	.catalog__items {
		display: flex;
		margin-top: 30px;
		grid-gap: 108px;

		.catalog__filters {
			.filters__item {
				display: flex;
				flex-direction: column;
				align-items: start;
				margin-top: 20px;
				max-width: 238px;

				.filter__head {
					font-weight: 500;
					font-size: 16px;
					color: $black;
				}

				.filter__price {
					margin-top: 10px;
					font-weight: 300;

					span {
						color: $black;
						font-weight: 500;
					}
				}

				.filter__inputs {
					display: flex;
					flex-direction: row;
					align-items: center;
					grid-gap: 10px;
					height: 23px;

					p {
						margin-top: 12px;
					}

					input {
						outline: none;
						margin-top: 16px;
						width: 105px;
						padding: 4px 14px;
						background: linear-gradient(
							90deg,
							rgba(255, 198, 80, 0.3) 0%,
							rgba(254, 202, 110, 0.3) 97.25%
						);
						border-radius: 1000px;
					}
				}

				.filter__input {
					margin-top: 15px;

					input {
						width: 238px;
					}
				}

				.filter__checkbox {
					display: flex;
					flex-direction: column;
					justify-content: center;
					margin-top: 10px;
				}
				.filter__show {
					display: flex;
					align-items: center;
					grid-gap: 5px;
					margin-top: 25px;
					cursor: pointer;
					.show {
						transform: rotate(180deg);
					}
				}
			}

			.filter__btn {
				display: flex;
				grid-gap: 10px;
				margin-top: 25px;
			}

			.filter {
				margin-top: 40px;
			}
		}

		.catalog__products {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin: 0 auto;
			.catalog__pagination {
				display: flex;
				justify-content: center;
			}
			.catalog__products_cards {
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				max-width: 1020px;
				height: 100%;
				margin: 0 auto;
				.product {
					display: flex;
					flex-direction: column;
					align-items: start;
					justify-content: space-between;
					padding: 22px;
					box-shadow: 0 14px 39px -11px rgba(0, 0, 0, 0.06);
					border-radius: 10px;
					height: 490px;
					max-width: 326px;

					.product__img {
						align-self: center;
						cursor: pointer;
						height: 194px;
					}

					.product__size {
						display: flex;
						grid-gap: 8px;
						font-size: 0.85em;
					}
					.product__name {
						font-weight: 700;
						font-size: 16px;
						line-height: 130%;
						color: $black;
						margin-top: 10px;
					}

					.bold {
						margin-top: 10px;
						width: 282px;
					}

					.product__info {
						margin-top: 20px;

						p {
							font-weight: 300;

							span {
								font-weight: 500;
								line-height: 150%;
								color: $black;
							}
						}
					}

					.product__cart {
						display: flex;
						align-items: center;
						grid-gap: 40px;
						margin-top: 15px;

						.product__cart__price {
							font-weight: 800;
							font-size: 1.15em;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 788px) {
	.catalog {
		padding: 0 5px;
		.head {
			display: grid;
			grid-template-areas:
				'A A'
				'B B'
				'C C';

			.catalog__header {
				grid-area: A;

				h1 {
					font-weight: 500;
					font-size: 1.145em;
					color: $black;
				}

				.catalog__head {
					display: flex;
					margin-top: 15px;
				}
			}

			.catalog__sort {
				display: flex;
				flex-direction: column;
				grid-gap: 10px;
				grid-area: C;
			}

			.filters {
				grid-area: B;
			}
		}

		.catalog__items {
			.catalog__filters {
				display: none;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-top: 15px;
				position: absolute;
				top: 330px;
				left: 0;
				z-index: 1;
				background-color: #ffff;
				width: 100vw;
				padding: 0 5px;
				.filter {
					display: none;
				}
				.catalog__head {
					display: none;
				}
			}
		}
	}
}
