@import 'src/styles/variable';

.product {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	padding: 22px;
	box-shadow: 0 14px 39px -11px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	height: 490px;
	width: 326px;

	.product__img {
		align-self: center;
		height: 194px;
	}

	.product__size {
		display: flex;
		grid-gap: 8px;
		font-size: 0.85em;
	}
	.product__name {
		font-weight: 700;
		font-size: 16px;
		line-height: 130%;
		color: $black;
		margin-top: 10px;
		&:hover {
			opacity: 0.5;
		}
	}

	.bold {
		margin-top: 10px;
		width: 282px;
	}

	.product__info {
		margin-top: 20px;

		p {
			font-weight: 300;

			span {
				font-weight: 500;
				line-height: 150%;
				color: $black;
			}
		}
	}

	.product__cart {
		display: flex;
		align-items: center;
		grid-gap: 40px;
		margin-top: 15px;

		.product__cart__price {
			font-weight: 800;
			font-size: 1.15em;
		}
	}
}
