@import 'src/styles/variable';

.path {
	display: flex;
	grid-gap: 20px;

	a {
		text-decoration: none;
		color: $colorEl;
	}

	p {
		font-weight: 300;
	}

	.path__here {
		opacity: 0.5;
	}
}

@media (max-width: 788px) {
	.path {
		display: none;
	}
}
