@import 'variable';

* {
	margin: 0;
	padding: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Inter', sans-serif;
	font-size: 14px;

	a,
	a:visited {
		color: $colorEl;
		text-decoration: none;
	}

	a:hover {
		text-decoration: none;
	}

	a:focus,
	a:active {
		outline: none;
	}
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: $colorEl;

	main {
		margin-top: 45px;

		flex: 1;
		padding-bottom: 203px;
	}

	.content {
		margin: 0 auto;
		max-width: 1366px;
		padding: 0 7px;

		.path {
			display: flex;
			grid-gap: 20px;
			a {
				text-decoration: none;
				color: $colorEl;
			}
			p {
				font-weight: 300;
			}

			.path__here {
				opacity: 0.5;
			}
		}
		.back {
			display: none;
			grid-gap: 5px;
			align-items: center;
			.arrow {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 32px;
				height: 32px;
				padding: 13px;
				background-color: #ffca65;
				opacity: 0.3;
				border-radius: 100px;
				transform: rotate(90deg);
				margin-left: 15px;
			}
			.text {
				font-weight: 600;
				font-size: 10px;
				line-height: 120%;
			}
		}
	}
}

h1 {
	font-size: 2.85em;
}

h2 {
	font-size: 1.45em;
	font-weight: 600;
}

@media (max-width: 788px) {
	.App {
		.content {
			.path {
				display: none;
			}
			.back {
				display: flex;
				.arrow {
				}
			}
		}
	}
}
