@import 'src/styles/variable';

.filters {
	display: flex;
	flex-flow: row wrap;
	grid-gap: 11px;

	&.column {
		flex-direction: column;
	}

	.filters__item {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 12px;
		box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
		border-radius: 10px;
		background-color: #ffffff;
		cursor: pointer;
		max-width: 120px;

		.filters__text {
			text-align: center;
			height: 34px;
			width: 84px;
		}

		&.active {
			border: 1px solid $colorEl;
		}
	}
}

@media (max-width: 788px) {
	.filters {
		flex-direction: column;
		grid-gap: 1px;

		.filters__item {
			padding: 0;
			border-radius: 0;
			box-shadow: none;
			max-width: 100%;
			.filters__text {
				text-align: start;
				width: 100%;
			}
		}
	}
}
