@import 'src/styles/variable';

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $yellow;
	border-radius: 79px;
	padding: 21px 54px;
	color: #ffff;
	cursor: pointer;
	.btn__children {
		display: flex;
		align-items: center;
		grid-gap: 12px;
		font-weight: 700;
		font-size: 10px;
		line-height: 12px;
		letter-spacing: 0.15em;
		p {
			min-width: 70px;
		}
	}

	&:active {
		background-color: #ffff;
		color: $yellow;
	}
}
