@import 'src/styles/variable';
.admin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-gap: 25px;
	.admin__btn {
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		grid-gap: 10px;
	}
	.admin__form {
		display: flex;
		flex-direction: column;
		width: 100%;
		grid-gap: 15px;
		align-items: center;
		max-width: 500px;
		border: 1px solid $yellow;
		padding: 15px;
		border-radius: 25px;
		select {
			align-self: start;
		}
		.form__checkBox {
			display: flex;
			flex-direction: column;
			align-self: start;
		}
	}
	.admin__items {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		grid-gap: 10px;
		max-width: 1020px;
		height: 100%;
		margin: 0 auto;
		.admin__item {
			display: flex;
			flex-direction: column;
			border: 1px solid $yellow;
			border-radius: 25px;
			width: 326px;
			.item__btn {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				padding: 10px;
				button {
					img {
						width: 20px;
						height: 20px;
					}
				}
			}
		}
	}
}
