@import 'src/styles/variable';
.input__block {
	display: flex;
	align-items: center;
	.input {
		width: 100%;
		background: $grey;
		border-radius: 36px;
		padding: 20px;
		outline: none;
	}
	.btn {
		position: relative;
		top: 0;
		right: 52px;
	}
}
