@import 'src/styles/variable';

.header {
	hr {
		height: 1px;
		background-color: $colorEl;
		opacity: 0.2;
	}

	.header__up {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		padding: 14px 0;

		.header__info {
			display: flex;
			grid-gap: 42px;
		}

		.header__nav {
			display: flex;
			align-items: center;
			grid-gap: 60px;

			.nav__item {
				color: $colorEl;
			}
		}

		@media (max-width: 1042px) {
			justify-content: center;
			grid-gap: 10px;
		}
	}

	.header__down {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: row wrap;
		padding: 24px 0;
		.burger {
			display: none;
			width: 32px;
			height: 32px;
		}
		.item {
			display: flex;
			align-items: center;
			grid-gap: 10px;
		}

		.cart__item {
			position: relative;
			height: 50px;
			cursor: pointer;

			.item__img {
				.cart_count {
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					top: 0;
					left: 30px;
					width: 22px;
					height: 22px;
					background-color: $yellow;
					border: 3px solid #ffffff;
					border-radius: 50%;
					color: #ffff;
					font-weight: 700;
				}
			}

			.item__text {
				.text__number {
					font-weight: 600;
					font-size: 14px;
					line-height: 150%;
					color: $black;
				}
			}
		}

		@media (max-width: 1110px) {
			justify-content: center;
			grid-gap: 10px;
		}
	}
	.header__down_mobile {
		display: none;
		justify-content: space-between;
		align-items: center;
		padding: 13px 0;
		.border {
			width: 1px;
			height: 30px;
			opacity: 0.1;
			border: 1px dashed $colorEl;
		}
		.item {
			display: flex;
			grid-gap: 8px;
			padding: 0 45px;
		}

		p {
			font-weight: 600;
			font-size: 12px;
			line-height: 15px;
		}
	}
}

@media (max-width: 576px) {
	.header {
		.header__up {
			display: none;
		}

		.header__down {
			padding: 15px;
			justify-content: space-between;
			align-items: center;
			.item {
				display: none;
			}
			.burger {
				display: flex;
			}
			.cart__item {
				display: flex;
				.item__img {
					.cart_count {
						left: 15px;
					}
					img {
						width: 22px;
						height: 16px;
					}
				}
				p {
					display: none;
				}
			}
			.logo__item {
				display: flex;
				img {
					width: 97px;
				}
			}
		}
		.header__down_mobile {
			display: flex;
		}
	}
}
