@import 'src/styles/variable';

.header {
	hr {
		height: 1px;
		background-color: $colorEl;
		opacity: 0.2;
	}

	.header__up {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		padding: 14px 0;

		.header__info {
			display: flex;
			grid-gap: 42px;
		}

		.header__nav {
			display: flex;
			align-items: center;
			grid-gap: 60px;

			.nav__item {
				color: $colorEl;
			}
		}

		@media (max-width: 1042px) {
			justify-content: center;
			grid-gap: 10px;
		}
	}

	.header__down {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: row wrap;
		padding: 24px 0;

		.item {
			display: flex;
			align-items: center;
			grid-gap: 10px;
		}

		.cart__item {
			position: relative;
			height: 50px;

			.item__img {
				.cart_count {
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					top: 0;
					left: 30px;
					width: 22px;
					height: 22px;
					background-color: $yellow;
					border: 3px solid #ffffff;
					border-radius: 50%;
					color: #ffff;
					font-weight: 700;
				}
			}
		}

		@media (max-width: 1110px) {
			justify-content: center;
			grid-gap: 10px;
		}
	}
}

@media (max-width: 576px) {
	.header {
		.header__up {
			display: none;
		}

		.header_down {
		}
	}
}
