@import 'src/styles/variable';

.input {
	outline: none;
	margin-top: 16px;
	width: 100%;
	padding: 4px 14px;
	background: linear-gradient(
		90deg,
		rgba(255, 198, 80, 0.3) 0%,
		rgba(254, 202, 110, 0.3) 97.25%
	);
	border-radius: 1000px;
}
